${play.modules.scaffold.utils.Tags.openTemplateTag}extends 'main.html' /}

<h2>#{scaffold.i18n entity:entity.name , expr: 'scaffold.$1'/}</h2>

<div class="entity">
#{list items:entity.formElements, as:'elem'}
  #{ifnot elem.isPassword()}
	<div class="row">
		<span class="elem">
      #{scaffold.i18n entity:entity.name + '.' + elem.path('.'), expr:'scaffold.$1' /}
		</span>
		<span class="value">
      #{scaffold.expression entity:elem.name, expr:'entity.$1' /}
		</span>
	</div>
  #{/ifnot}
#{/list}
</div>

<a href="${play.modules.scaffold.utils.Tags.openActionTag}${entity.controllerName}.index}" class="button">${play.modules.scaffold.utils.Tags.openi18nTag.raw()}'scaffold.back'}</a>
